@import "sn-stylekit/dist/stylekit.css";

html {
    font-size: 100%;
    background-color: transparent; // to help with seamless transition while loading themes
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
    margin-top: 30px; // 40
    margin-left: 30px;
    margin-right: 8px;
    background-color: transparent;
    font-size: var(--sn-stylekit-font-size-editor);
}

* {
    // To prevent gray flash when focusing input on mobile Safari
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.App {
    margin-right: 22px;

    iframe {
        border-radius: var(--sn-stylekit-general-border-radius);
        border: 1px solid var(--sn-stylekit-secondary-foreground-color);
        padding: 10px;
        background-color: var(--sn-stylekit-secondary-background-color);
    }

    .scrollable-wrapper .scrollable {
        overflow-x: auto;
    }

    .editor li p:first-child {
        word-break: break-word;
    }
}

.ProseMirror {
    :nth-child(2) {
        margin-top: 0px
    }
}

.open-link-btn {
    color: inherit;
    text-decoration: inherit;
}

.sk-modal {
    align-items: self-start !important;
    padding-top: 25% !important;

    .sn-component {
        .sk-panel {
            word-break: break-word !important;
        }
    }

    .sk-modal-background {
        top: 0 !important;
    }
}